@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import "./assets/styles/base.scss";



//scenes
@import "./assets//pages/dashboard";


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "poppins";
  overflow-x: hidden !important;

}
.content{
  margin: 20px 30px 0 21px;
}
.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 3px;
}
